@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin-top: 150px;
  /* margin: 0 auto; */
  display: flex;
}

.promotion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.promotion{
    display: flex;
}
.promotion .bgc_y {
  position: absolute;
  width: 50%;
  height: 499px;
  background: rgba(243, 255, 222, 0.35);
  z-index: -1;
  top: -50px;
  left: 0;
}
.promotion__text {
  width: 50%;
}

.timer{
    display: flex;
    column-gap:5px;
}
.promotion__descr {
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.promotion__descr span {
  font-weight: bold;
  font-size: 26px;
}
.promotion__timer .title {
  text-align: center;
}
.promotion__timer .timer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promotion__timer .timer__block {
  height: 120px;
  background:transparent;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
}

.span{
    text-align: center;
}
.promotion__timer .timer__block span {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 56px;
  font-weight: bold;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.timer_section {
  height: 130vh;
  background-color: skyblue;
}

.time-box{
    display:flex;

}

.data{
    margin-top: 50px;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}